djangorestframework==3.14.0
djoser==2.1.0
channels==4.0.0
requests==2.31.0
asgiref==3.5.2
django-cors-headers==3.13.0
django-debug-toolbar==3.7.0
firebase-admin==6.0.1
django-filter==22.1
pymongo[srv]==3.13.0
django==3.2.23
djongo==1.3.6
daphne
