<div class="container bg-white text-dark">
    <h2>Add problem</h2>
    <form action="{% url 'judge:add_problem' contest_id %}" method="post">
        {% csrf_token %}
        <label for="pn">Problem name</label><input type="text" id="pn" name="pn"><br>
        <label for="ps">Problem Statement</label>
        <textarea name="ps" id="ps" class="form-control" rows="8"></textarea>
        <label for="it">Input terms</label>
        <textarea name="it" id="it" class="form-control" rows="4"></textarea>
        <label for="ot">Output terms</label>
        <textarea name="ot" id="ot" class="form-control" rows="4"></textarea>
        <label for="code">Correct code</label>
        <textarea name="cc" id="code" style="display: none;"></textarea>
        <pre id="editor"></pre>
        <label for="exampleFormControlSelect1">Who can see</label>
        <select class="form-control" id="exampleFormControlSelect1" name="group">
            <option value="public">Public</option>
            <option value="batch12">Batch12</option>
        </select>
        <label for="is_con">Is contest</label>
        <select class="form-control" id="is_con" name="is_con">
            <option value="1">Yes</option>
            <option value="0">No</option>
        </select>
        <label for="c_prob_id"> Contest Problem serial (if contest):</label>
        <input type="text" value="A" name="c_prob_id" id="c_prob_id">
        <br>
        <input type="hidden" value="{{ contest_id }}">
        <button type="submit" class="btn-lg btn-outline-success">Save</button>
    </form>
    <p>Care fully check you code. At this moment it is not editable by general people</p>
</div>